openapi: 3.0.3
info:
  title: FreeAgent
  version: 1.0.0
  contact: {}
servers:
- url: https://api.freeagent.com
  description: Production
- url: https://api.sandbox.freeagent.com
  description: Sandbox
paths:
  /v2/token_endpoint:
    post:
      tags:
      - _Authorization
      summary: Refresh access token
      description: 'Request an new Access Token using an existing Refresh Token (you''ll
        need to provide a Refresh Token in the request body params)


        https://dev.freeagent.com/docs/oauth/#refreshing-the-access-token'
      operationId: refreshAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  example: '{{client_id}}'
                client_secret:
                  type: string
                  example: '{{client_secret}}'
                grant_type:
                  type: string
                  example: refresh_token
                refresh_token:
                  type: string
                  example: ''
            examples:
              Refresh access token:
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: refresh_token
                  refresh_token: ''
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
      security:
      - oauth2: []
  /v2/clients:
    get:
      tags:
      - Accountancy Practice API
      summary: List all clients
      description: List all clients
      operationId: listAllClients
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/account_managers:
    get:
      tags:
      - Accountancy Practice API
      summary: List all account managers
      description: List all account managers
      operationId: listAllAccountManagers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/account_managers/{id}:
    get:
      tags:
      - Accountancy Practice API
      summary: Get a single account manager
      description: Get a single account manager
      operationId: getASingleAccountManager
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/attachments/{id}:
    get:
      tags:
      - Attachments
      summary: Show Attachment
      description: Show Attachment
      operationId: showAttachment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Attachments
      summary: Delete Attachment
      description: Delete Attachment
      operationId: deleteAttachment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/bank_accounts:
    get:
      tags:
      - Bank Accounts
      summary: List Bank Accounts
      description: List Bank Accounts
      operationId: listBankAccounts
      parameters:
      - name: view
        in: query
        schema:
          type: string
          example: standard_bank_accounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Bank Accounts
      summary: Create Bank Account
      description: Create Bank Account
      operationId: createBankAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_account:
                  type: object
                  properties:
                    created_at:
                      type: string
                      example: 2011-07-28 11:25:11+00:00
                    is_personal:
                      type: boolean
                      example: false
                    name:
                      type: string
                      example: Default bank account
                    opening_balance:
                      type: string
                      example: '0.0'
                    status:
                      type: string
                      example: active
                    type:
                      type: string
                      example: StandardBankAccount
                    updated_at:
                      type: string
                      example: 2011-07-28 11:25:20+00:00
            examples:
              Create Bank Account:
                value:
                  bank_account:
                    created_at: 2011-07-28 11:25:11+00:00
                    is_personal: false
                    name: Default bank account
                    opening_balance: '0.0'
                    status: active
                    type: StandardBankAccount
                    updated_at: 2011-07-28 11:25:20+00:00
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/bank_accounts/{id}:
    get:
      tags:
      - Bank Accounts
      summary: Show Bank Account
      description: Show Bank Account
      operationId: showBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Bank Accounts
      summary: Update Bank Account
      description: Update Bank Account
      operationId: updateBankAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_account:
                  type: object
                  properties:
                    created_at:
                      type: string
                      example: 2011-07-28 11:25:11+00:00
                    is_personal:
                      type: boolean
                      example: false
                    name:
                      type: string
                      example: Default bank account
                    opening_balance:
                      type: string
                      example: '0.0'
                    status:
                      type: string
                      example: active
                    type:
                      type: string
                      example: StandardBankAccount
                    updated_at:
                      type: string
                      example: 2011-07-28 11:25:20+00:00
            examples:
              Update Bank Account:
                value:
                  bank_account:
                    created_at: 2011-07-28 11:25:11+00:00
                    is_personal: false
                    name: Default bank account
                    opening_balance: '0.0'
                    status: active
                    type: StandardBankAccount
                    updated_at: 2011-07-28 11:25:20+00:00
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Bank Accounts
      summary: Delete Bank Account
      description: Delete Bank Account
      operationId: deleteBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/bank_transaction_explanations:
    get:
      tags:
      - Bank Transaction Explanations
      summary: List all bank transaction explanations
      description: List all bank transaction explanations
      operationId: listAllBankTransactionExplanations
      parameters:
      - name: from_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: to_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: bank_account
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/bank_accounts/:id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Bank Transaction Explanations
      summary: Create a bank transaction explanation
      description: Create a bank transaction explanation
      operationId: createABankTransactionExplanation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_transaction_explanation:
                  type: object
                  properties:
                    attachment:
                      $ref: '#/components/schemas/AttachmentPayload'
                    bank_account:
                      type: string
                      example: https://api.freeagent.com/v2/bank_accounts/1
                    bank_transaction:
                      type: string
                      example: https://api.freeagent.com/v2/bank_transactions/8
                    category:
                      type: string
                      example: https://api.freeagent.com/v2/categories/285
                    dated_on:
                      type: string
                      example: 2010-05-01
                    description:
                      type: string
                      example: harness end-to-end e-business
                    gross_value:
                      type: string
                      example: '-730.0'
                    paid_bill:
                      type: string
                      example: https://api.freeagent.com/v2/bills/123
                    paid_invoice:
                      type: string
                      example: https://api.freeagent.com/v2/invoices/123
                    paid_user:
                      type: string
                      example: https://api.freeagent.com/v2/users/1
                    project:
                      type: string
                      example: https://api.freeagent.com/v2/projects/1
                    rebill_factor:
                      type: string
                      example: '0.25'
                    rebill_type:
                      type: string
                      example: markup
            examples:
              Create a bank transaction explanation:
                value:
                  bank_transaction_explanation:
                    attachment:
                      data: iVBORw0KGgo...
                      file_name: receipt.pdf
                      content_type: application/x-pdf
                    bank_account: https://api.freeagent.com/v2/bank_accounts/1
                    bank_transaction: https://api.freeagent.com/v2/bank_transactions/8
                    category: https://api.freeagent.com/v2/categories/285
                    dated_on: 2010-05-01
                    description: harness end-to-end e-business
                    gross_value: '-730.0'
                    project: https://api.freeagent.com/v2/projects/1
                    rebill_factor: '0.25'
                    rebill_type: markup
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/bank_transaction_explanations/{id}:
    get:
      tags:
      - Bank Transaction Explanations
      summary: Get a single bank transaction explanation
      description: Get a single bank transaction explanation
      operationId: getASingleBankTransactionExplanation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Bank Transaction Explanations
      summary: Update a bank transaction explanation
      description: Update a bank transaction explanation
      operationId: updateABankTransactionExplanation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bank_transaction_explanation:
                  type: object
                  properties:
                    attachment:
                      $ref: '#/components/schemas/AttachmentPayload'
                    category:
                      type: string
                      example: https://api.freeagent.com/v2/categories/285
                    description:
                      type: string
                      example: Updated description
                    gross_value:
                      type: string
                      example: '-730.0'
                    paid_bill:
                      type: string
                      example: https://api.freeagent.com/v2/bills/123
                    paid_user:
                      type: string
                      example: https://api.freeagent.com/v2/users/1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Bank Transaction Explanations
      summary: Delete a bank transaction explanation
      description: Delete a bank transaction explanation
      operationId: deleteABankTransactionExplanation
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/bank_transactions:
    get:
      tags:
      - Bank Transactions
      summary: List all bank transactions under a certain bank account
      description: List all bank transactions under a certain bank account
      operationId: listAllBankTransactionsUnderACertainBankAccount
      parameters:
      - name: bank_account
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/bank_accounts/1
      - name: from_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: to_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: view
        in: query
        schema:
          type: string
          example: all
      - name: last_uploaded
        in: query
        schema:
          type: string
          example: 'true'
      - name: page
        in: query
        schema:
          type: integer
          example: 1
      - name: per_page
        in: query
        schema:
          type: integer
          example: 100
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/bank_transactions/{id}:
    get:
      tags:
      - Bank Transactions
      summary: Get a single bank transaction
      description: Get a single bank transaction
      operationId: getASingleBankTransaction
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2//bank_transactions/statement:
    post:
      tags:
      - Bank Transactions
      summary: Upload a bank statement
      description: Upload a bank statement
      operationId: uploadABankStatement
      parameters:
      - name: bank_account
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/bank_accounts/:id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                statement:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: -100
                      dated_on:
                        type: string
                        example: 2019-07-01
                      description:
                        type: string
                        example: Local Council
                  example:
                  - amount: -100
                    dated_on: 2019-07-01
                    description: Local Council
                  - amount: 3560
                    dated_on: 2019-07-05
                    description: Sales
            examples:
              Upload a bank statement:
                value:
                  statement:
                  - amount: -100
                    dated_on: 2019-07-01
                    description: Local Council
                  - amount: 3560
                    dated_on: 2019-07-05
                    description: Sales
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/bills:
    get:
      tags:
      - Bills
      summary: List Bills
      description: List Bills
      operationId: listBills
      parameters:
      - name: view
        in: query
        schema:
          type: string
          example: all
      - name: from_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: to_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: contact
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/contacts/:id
      - name: project
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/projects/:id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Bills
      summary: Create Bill
      description: Create Bill
      operationId: createBill
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bill:
                  type: object
                  properties:
                    contact:
                      type: string
                      example: https://api.freeagent.com/v2/contacts/1
                    reference:
                      type: string
                      example: REF100
                    dated_on:
                      type: string
                      example: 2020-09-14
                    due_on:
                      type: string
                      example: 2020-10-14
                    comments:
                      type: string
                      example: Vehicle purchase
                    ec_status:
                      type: string
                      example: UK
                    attachment:
                      $ref: '#/components/schemas/AttachmentPayload'
                    bill_items:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: string
                            example: https://api.freeagent.com/v2/categories/285
                          description:
                            type: string
                            example: Item description
                          total_value:
                            type: string
                            example: '300.0'
                          sales_tax_rate:
                            type: string
                            example: '20.0'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v2/bills/{id}:
    get:
      tags:
      - Bills
      summary: Show Bill
      description: Show Bill
      operationId: showBill
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Bills
      summary: Update Bill
      description: Update Bill
      operationId: updateBill
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bill:
                  type: object
                  properties:
                    category:
                      type: string
                      example: https://api.freeagent.com/categories/285
                    contact:
                      type: string
                      example: https://api.freeagent.com/contacts/1
                    dated_on:
                      type: string
                      example: 2015-10-17
                    due_on:
                      type: string
                      example: 2015-11-17
                    reference:
                      type: string
                      example: Bill ref 01
                    sale_tax_rate:
                      type: string
                      example: '20'
                    total_value:
                      type: string
                      example: '300'
            examples:
              Update Bill:
                value:
                  bill:
                    category: https://api.freeagent.com/categories/285
                    contact: https://api.freeagent.com/contacts/1
                    dated_on: 2015-10-17
                    due_on: 2015-11-17
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Bills
      summary: Delete Bill
      description: Delete Bill
      operationId: deleteBill
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bill:
                  type: object
                  properties:
                    category:
                      type: string
                      example: https://fac.int5.fre.ag/categories/285
                    contact:
                      type: string
                      example: https://fac.int5.fre.ag/contacts/1
                    dated_on:
                      type: string
                      example: 2015-10-17
                    due_on:
                      type: string
                      example: 2015-11-17
                    reference:
                      type: string
                      example: Bill ref 01
                    sale_tax_rate:
                      type: string
                      example: '20'
                    total_value:
                      type: string
                      example: '300'
            examples:
              Delete Bill:
                value:
                  bill:
                    category: https://fac.int5.fre.ag/categories/285
                    contact: https://fac.int5.fre.ag/contacts/1
                    dated_on: 2015-10-17
                    due_on: 2015-11-17
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/bill_items:
    get:
      tags:
      - Bill Items
      summary: List Bill Items
      description: List Bill Items
      operationId: listBillItems
      parameters:
      - name: bill
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/bills/6
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/bill_items/{bill_item_id}:
    get:
      tags:
      - Bill Items
      summary: Show Bill Item
      description: Show Bill Item
      operationId: showBillItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: bill_item_id
      in: path
      required: true
      schema:
        type: string
        example: '2'
  /v2/capital_assets:
    get:
      tags:
      - Capital Assets
      summary: List all capital assets
      description: List all capital assets
      operationId: listAllCapitalAssets
      parameters:
      - name: include_history
        in: query
        schema:
          type: string
          example: 'true'
        description: Retrieves information about events in the capital asset life
          cycle (such as purchase, depreciation, and disposal).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/capital_assets/{id}/:
    get:
      tags:
      - Capital Assets
      summary: Get a single capital asset
      description: Get a single capital asset
      operationId: getASingleCapitalAsset
      parameters:
      - name: include_history
        in: query
        schema:
          type: string
          example: 'true'
        description: Retrieves information about events in the capital asset life
          cycle (such as purchase, depreciation, and disposal).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/capital_asset_types:
    get:
      tags:
      - Capital Asset Types
      summary: List all capital asset types
      description: List all capital asset types
      operationId: listAllCapitalAssetTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Capital Asset Types
      summary: Create capital asset type
      description: Create capital asset type
      operationId: createCapitalAssetType
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                capital_asset_type:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Spaceships
            examples:
              Create capital asset type:
                value:
                  capital_asset_type:
                    name: Spaceships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/capital_asset_types/{id}:
    get:
      tags:
      - Capital Asset Types
      summary: Get a single capital asset type
      description: Get a single capital asset type
      operationId: getASingleCapitalAssetType
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Capital Asset Types
      summary: Update capital asset type
      description: Update capital asset type
      operationId: updateCapitalAssetType
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                capital_asset_type:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Spaceships
            examples:
              Update capital asset type:
                value:
                  capital_asset_type:
                    name: Spaceships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Capital Asset Types
      summary: Delete capital asset type
      description: Delete capital asset type
      operationId: deleteCapitalAssetType
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/cashflow:
    get:
      tags:
      - Cashflow
      summary: Cashflow summary for a given date range
      description: Cashflow summary for a given date range
      operationId: cashflowSummaryForAGivenDateRange
      parameters:
      - name: from_date
        in: query
        schema:
          type: string
          example: 01-07-2019
      - name: to_date
        in: query
        schema:
          type: string
          example: 30-09-2019
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/categories:
    get:
      tags:
      - Categories
      summary: List Categories
      description: List Categories
      operationId: listCategories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Categories
      summary: Create category
      description: 'Documentation: https://dev.freeagent.com/docs/categories#create-a-category'
      operationId: createCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  properties:
                    allowable_for_tax:
                      type: boolean
                      example: true
                    auto_sales_tax_rate:
                      type: string
                      example: Standard rate
                    category_group:
                      type: string
                      example: admin_expenses
                    description:
                      type: string
                      example: Custom Admin Expenses Category
                    nominal_code:
                      type: string
                      example: '212'
                    tax_reporting_name:
                      type: string
                      example: computer_software_costs
            examples:
              Create category:
                value:
                  category:
                    allowable_for_tax: true
                    auto_sales_tax_rate: Standard rate
                    category_group: admin_expenses
                    description: Custom Admin Expenses Category
                    nominal_code: '212'
                    tax_reporting_name: computer_software_costs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/categories/{nominal_code}:
    get:
      tags:
      - Categories
      summary: Get a single category
      description: Get a single category
      operationId: getASingleCategory
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Categories
      summary: Update category
      description: Update category
      operationId: updateCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  properties:
                    allowable_for_tax:
                      type: boolean
                      example: true
                    auto_sales_tax_rate:
                      type: string
                      example: Standard rate
                    description:
                      type: string
                      example: Updated Category Name
                    nominal_code:
                      type: string
                      example: '213'
                    tax_reporting_name:
                      type: string
                      example: business_entertaining
            examples:
              Update category:
                value:
                  category:
                    allowable_for_tax: true
                    auto_sales_tax_rate: Standard rate
                    description: Updated Category Name
                    nominal_code: '213'
                    tax_reporting_name: business_entertaining
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Categories
      summary: Delete category
      description: Delete category
      operationId: deleteCategory
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: nominal_code
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/cis_bands:
    get:
      tags:
      - CIS Bands
      summary: List all CIS bands for a company
      description: List all CIS bands for a company
      operationId: listAllCisBandsForACompany
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/company:
    get:
      tags:
      - Company
      summary: Company Details
      description: Company Details
      operationId: companyDetails
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/company/business_categories:
    get:
      tags:
      - Company
      summary: List business categories
      description: List business categories
      operationId: listBusinessCategories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/company/tax_timeline:
    get:
      tags:
      - Company
      summary: Show Tax Timeline
      description: Show Tax Timeline
      operationId: showTaxTimeline
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/contacts:
    get:
      tags:
      - Contacts
      summary: List Contacts
      description: List Contacts
      operationId: listContacts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Contacts
      summary: Create Contact
      description: Create Contact
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  type: object
                  properties:
                    email:
                      type: string
                      example: fred@testingtonandsons.example.com
                    first_name:
                      type: string
                      example: Frederick
                    last_name:
                      type: string
                      example: Testington
                    organisation_name:
                      type: string
                      example: Testington & Sons Ltd
            examples:
              Create Contact:
                value:
                  contact:
                    organisation_name: Testington & Sons Ltd
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/contacts/{id}:
    get:
      tags:
      - Contacts
      summary: Show Contact
      description: Show Contact
      operationId: showContact
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Contacts
      summary: Update Contact
      description: Update Contact
      operationId: updateContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  type: object
                  properties:
                    country:
                      type: string
                      example: France
            examples:
              Update Contact:
                value:
                  contact:
                    country: France
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Contacts
      summary: Delete Contact
      description: Delete Contact
      operationId: deleteContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  type: object
                  properties:
                    email:
                      type: string
                      example: fred@testingtonandsons.example.com
                    first_name:
                      type: string
                      example: Frederick
                    last_name:
                      type: string
                      example: Testington
            examples:
              Delete Contact:
                value:
                  contact:
                    email: fred@testingtonandsons.example.com
                    first_name: Frederick
                    last_name: Testington
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/credit_notes/{id}/transitions/mark_as_sent:
    put:
      tags:
      - Credit Notes
      - Credit Note Transitions
      summary: Mark Credit Note as sent
      description: Mark Credit Note as sent
      operationId: markCreditNoteAsSent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '46'
  /v2/credit_notes/{id}/transitions/mark_as_cancelled:
    put:
      tags:
      - Credit Notes
      - Credit Note Transitions
      summary: Mark Credit Note as cancelled
      description: Mark Credit Note as cancelled
      operationId: markCreditNoteAsCancelled
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '46'
  /v2/credit_notes/{id}/transitions/mark_as_draft:
    put:
      tags:
      - Credit Notes
      - Credit Note Transitions
      summary: Mark Credit Notes as draft
      description: Mark Credit Notes as draft
      operationId: markCreditNotesAsDraft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '46'
  /v2/credit_notes:
    get:
      tags:
      - Credit Notes
      summary: List Credit Notes
      description: List Credit Notes
      operationId: listCreditNotes
      parameters:
      - name: contact
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/contacts/:id
      - name: project
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/projects/:id
      - name: currency
        in: query
        schema:
          type: string
          example: USD
      - name: view
        in: query
        schema:
          type: string
          example: all
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: sort
        in: query
        schema:
          type: string
          example: updated_at
      - name: nested_credit_note_items
        in: query
        schema:
          type: string
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Credit Notes
      summary: Create Credit Note
      description: Create Credit Note
      operationId: createCreditNote
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credit_note:
                  type: object
                  properties:
                    always_show_bic_and_iban:
                      type: boolean
                      example: false
                    contact:
                      type: string
                      example: https://api.freeagent.com/v2/contacts/43
                    credit_note_items:
                      type: array
                      items:
                        type: object
                        properties:
                          description:
                            type: string
                            example: Credit Note Item 1
                          price:
                            type: number
                            example: -100
                          quantity:
                            type: number
                            example: 3
                      example:
                      - description: Credit Note Item 1
                        price: -100
                        quantity: 3
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2020-02-01
                    due_on:
                      type: string
                      example: 2019-09-18
                    omit_header:
                      type: boolean
                      example: false
                    payment_terms_in_days:
                      type: number
                      example: 30
            examples:
              Create Credit Note:
                value:
                  credit_note:
                    always_show_bic_and_iban: false
                    contact: https://api.freeagent.com/v2/contacts/43
                    credit_note_items:
                    - description: Credit Note Item 1
                      price: -100
                      quantity: 3
                    currency: GBP
                    dated_on: 2020-02-01
                    due_on: 2019-09-18
                    omit_header: false
                    payment_terms_in_days: 30
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/credit_notes/{id}:
    get:
      tags:
      - Credit Notes
      summary: Show Credit Note
      description: Show Credit Note
      operationId: showCreditNote
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Credit Notes
      summary: Update Credit Note
      description: Update Credit Note
      operationId: updateCreditNote
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credit_note:
                  type: object
                  properties:
                    comments:
                      type: string
                      example: An example of some additional text.
                    credit_note_items:
                      type: array
                      items:
                        type: object
                        properties:
                          description:
                            type: string
                            example: New invoice item
                      example:
                      - description: New invoice item
            examples:
              Update Credit Note:
                value:
                  credit_note:
                    comments: An example of some additional text.
                    credit_note_items:
                    - description: New invoice item
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Credit Notes
      summary: Delete Credit Notes
      description: Delete Credit Notes
      operationId: deleteCreditNotes
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '44'
  /v2/credit_notes/{id}/pdf:
    get:
      tags:
      - Credit Notes
      summary: Show Credit Note as PDF
      description: Show Credit Note as PDF
      operationId: showCreditNoteAsPdf
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/credit_notes/{id}/send_email:
    post:
      tags:
      - Credit Notes
      summary: Send Credit Note Email
      description: Send Credit Note Email
      operationId: sendCreditNoteEmail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credit_note:
                  type: object
                  properties:
                    email:
                      type: object
                      properties:
                        body:
                          type: string
                          example: Bison bison bison bison bison Bison bison
                        from:
                          type: string
                          example: Our Company <us@company.com>
                        subject:
                          type: string
                          example: Testing
                        to:
                          type: string
                          example: Test Contact <test_contact@example.com>
            examples:
              Send Credit Note Email:
                value:
                  credit_note:
                    email:
                      body: Bison bison bison bison bison Bison bison
                      from: Our Company <us@company.com>
                      subject: Testing
                      to: Test Contact <test_contact@example.com>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '46'
  /v2/credit_note_reconciliations:
    get:
      tags:
      - Credit Note Reconciliations
      summary: List Credit Note Reconciliations
      description: List Credit Note Reconciliations
      operationId: listCreditNoteReconciliations
      parameters:
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: from_date
        in: query
        schema:
          type: string
          example: 2020-07-01
      - name: to_date
        in: query
        schema:
          type: string
          example: 2020-08-24
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Credit Note Reconciliations
      summary: Create Credit Note Reconciliation
      description: Create Credit Note Reconciliation
      operationId: createCreditNoteReconciliation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credit_note_reconciliation:
                  type: object
                  properties:
                    credit_note:
                      type: string
                      example: https://api.freeagent.com/v2/credit_notes/2
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2020-08-10
                    exchange_rate:
                      type: string
                      example: '1.0'
                    gross_value:
                      type: string
                      example: '100.0'
                    invoice:
                      type: string
                      example: https://api.freeagent.com/v2/invoices/1
            examples:
              Create Credit Note Reconciliation:
                value:
                  credit_note_reconciliation:
                    credit_note: https://api.freeagent.com/v2/credit_notes/2
                    currency: GBP
                    dated_on: 2020-08-10
                    exchange_rate: '1.0'
                    gross_value: '100.0'
                    invoice: https://api.freeagent.com/v2/invoices/1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/credit_note_reconciliations/{id}:
    get:
      tags:
      - Credit Note Reconciliations
      summary: Show Credit Note Reconciliation
      description: Show Credit Note Reconciliation
      operationId: showCreditNoteReconciliation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Credit Note Reconciliations
      summary: Update Credit Note Reconciliation
      description: Update Credit Note Reconciliation
      operationId: updateCreditNoteReconciliation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                credit_note_reconciliation:
                  type: object
                  properties:
                    gross_value:
                      type: string
                      example: '120.0'
            examples:
              Update Credit Note Reconciliation:
                value:
                  credit_note_reconciliation:
                    gross_value: '120.0'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Credit Note Reconciliations
      summary: Delete Credit Note Reconciliation
      description: Delete Credit Note Reconciliation
      operationId: deleteCreditNoteReconciliation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                ? ''
                : type: string
                  example: ''
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: '1'
  /v2/email_addresses:
    get:
      tags:
      - Email Addresses
      summary: Get a list of verified sender email addresses
      description: Get a list of verified sender email addresses
      operationId: getAListOfVerifiedSenderEmailAddresses
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/estimates/{id}/transitions/mark_as_sent:
    put:
      tags:
      - Estimates
      - Estimate Transitions
      summary: Mark estimate as sent
      description: Mark estimate as sent
      operationId: markEstimateAsSent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimates/{id}/transitions/mark_as_draft:
    put:
      tags:
      - Estimates
      - Estimate Transitions
      summary: Mark estimate as draft
      description: Mark estimate as draft
      operationId: markEstimateAsDraft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimates/{id}/transitions/mark_as_approved:
    put:
      tags:
      - Estimates
      - Estimate Transitions
      summary: Mark estimate as approved
      description: Mark estimate as approved
      operationId: markEstimateAsApproved
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimates/{id}/transitions/mark_as_rejected:
    put:
      tags:
      - Estimates
      - Estimate Transitions
      summary: Mark estimate as rejected
      description: Mark estimate as rejected
      operationId: markEstimateAsRejected
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimate_items:
    post:
      tags:
      - Estimates
      - Estimates Items
      summary: Create Estimate Item
      description: Create Estimate Item
      operationId: createEstimateItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate:
                  type: string
                  example: https://api.freeagent.com/v2/estimates/:id
                estimate_item:
                  type: object
                  properties:
                    category:
                      type: string
                      example: https://api.freeagent.com/v2/categories/001
                    created_at:
                      type: string
                      example: 2011-09-15 10:30:22+00:00
                    description:
                      type: string
                      example: sada
                    item_type:
                      type: string
                      example: Hours
                    position:
                      type: string
                      example: '1'
                    price:
                      type: string
                      example: '12.2'
                    quantity:
                      type: string
                      example: '1.03333333'
                    sales_tax_value:
                      type: string
                      example: '20.0'
                    updated_at:
                      type: string
                      example: 2011-09-15 10:30:22+00:00
            examples:
              Create Estimate Item:
                value:
                  estimate: https://api.freeagent.com/v2/estimates/:id
                  estimate_item:
                    category: https://api.freeagent.com/v2/categories/001
                    created_at: 2011-09-15 10:30:22+00:00
                    description: sada
                    item_type: Hours
                    position: '1'
                    price: '12.2'
                    quantity: '1.03333333'
                    sales_tax_value: '20.0'
                    updated_at: 2011-09-15 10:30:22+00:00
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/estimate_items/{id}:
    put:
      tags:
      - Estimates
      - Estimates Items
      summary: Update Estimate Item
      description: Update Estimate Item
      operationId: updateEstimateItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate_item:
                  type: object
                  properties:
                    category:
                      type: string
                      example: https://api.freeagent.com/v2/categories/001
                    created_at:
                      type: string
                      example: 2011-09-15 10:30:22+00:00
                    description:
                      type: string
                      example: sada
                    item_type:
                      type: string
                      example: Hours
                    position:
                      type: string
                      example: '1'
                    price:
                      type: string
                      example: '12.2'
                    quantity:
                      type: string
                      example: '1.03333333'
                    sales_tax_value:
                      type: string
                      example: '20.0'
                    updated_at:
                      type: string
                      example: 2011-09-15 10:30:22+00:00
                    url:
                      type: string
                      example: https://api.freeagent.com/v2/estimate_items/2
            examples:
              Update Estimate Item:
                value:
                  estimate_item:
                    category: https://api.freeagent.com/v2/categories/001
                    created_at: 2011-09-15 10:30:22+00:00
                    description: sada
                    item_type: Hours
                    position: '1'
                    price: '12.2'
                    quantity: '1.03333333'
                    sales_tax_value: '20.0'
                    updated_at: 2011-09-15 10:30:22+00:00
                    url: https://api.freeagent.com/v2/estimate_items/2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Estimates
      - Estimates Items
      summary: Delete Estimate Item
      description: Delete Estimate Item
      operationId: deleteEstimateItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate:
                  type: object
                  properties:
                    contact:
                      type: string
                      example: https://api.freeagent.com/v2/contacts/3
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2015-08-18
                    due_on:
                      type: string
                      example: 2015-09-18
                    ec_status:
                      type: string
                      example: UK/Non-EC
                    estimate_type:
                      type: string
                      example: Estimate
                    notes:
                      type: string
                      example: This is a note
                    status:
                      type: string
                      example: Draft
            examples:
              Delete Estimate Item:
                value:
                  estimate:
                    contact: https://api.freeagent.com/v2/contacts/3
                    currency: GBP
                    dated_on: 2015-08-18
                    due_on: 2015-09-18
                    ec_status: UK/Non-EC
                    estimate_type: Estimate
                    notes: This is a note
                    status: Draft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimates:
    get:
      tags:
      - Estimates
      summary: List Estimates
      description: List Estimates
      operationId: listEstimates
      parameters:
      - name: view
        in: query
        schema:
          type: string
          example: all
      - name: from_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: to_date
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: updated_since
        in: query
        schema:
          type: string
          example: 2018-01-01
      - name: nested_estimate_items
        in: query
        schema:
          type: string
          example: 'true'
      - name: contact
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/contacts/2
      - name: project
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/projects/2
      - name: invoice
        in: query
        schema:
          type: string
          example: https://api.freeagent.com/v2/invoices/2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Estimates
      summary: Create Estimate
      description: Create Estimate
      operationId: createEstimate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate:
                  type: object
                  properties:
                    contact:
                      type: string
                      example: https://api.freeagent.comcontacts/:id
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2015-08-18
                    due_on:
                      type: string
                      example: 2015-09-18
                    estimate_type:
                      type: string
                      example: Estimate
                    status:
                      type: string
                      example: Draft
            examples:
              Create Estimate:
                value:
                  estimate:
                    contact: https://api.freeagent.comcontacts/:id
                    currency: GBP
                    dated_on: 2015-08-18
                    due_on: 2015-09-18
                    estimate_type: Estimate
                    status: Draft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/estimates/{id}:
    get:
      tags:
      - Estimates
      summary: Show Estimate
      description: Show Estimate
      operationId: showEstimate
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Estimates
      summary: Update Estimate
      description: Update Estimate
      operationId: updateEstimate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate:
                  type: object
                  properties:
                    notes:
                      type: string
                      example: An example of some additional text.
            examples:
              Update Estimate:
                value:
                  estimate:
                    notes: An example of some additional text.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Estimates
      summary: Delete Estimate
      description: Delete Estimate
      operationId: deleteEstimate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate:
                  type: object
                  properties:
                    contact:
                      type: string
                      example: https://api.freeagent.com/v2/contacts/3
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2015-08-18
                    due_on:
                      type: string
                      example: 2015-09-18
                    ec_status:
                      type: string
                      example: UK/Non-EC
                    estimate_type:
                      type: string
                      example: Estimate
                    notes:
                      type: string
                      example: This is a note
                    status:
                      type: string
                      example: Draft
            examples:
              Delete Estimate:
                value:
                  estimate:
                    contact: https://api.freeagent.com/v2/contacts/3
                    currency: GBP
                    dated_on: 2015-08-18
                    due_on: 2015-09-18
                    ec_status: UK/Non-EC
                    estimate_type: Estimate
                    notes: This is a note
                    status: Draft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/estimates/{id}/pdf:
    get:
      tags:
      - Estimates
      summary: Show Estimate as PDF
      description: Show Estimate as PDF
      operationId: showEstimateAsPdf
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/expenses:
    get:
      tags:
      - Expenses
      summary: List all expenses
      description: List all expenses
      operationId: listAllExpenses
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Expenses
      summary: Create expense
      description: Create expense
      operationId: createExpense
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expense:
                  $ref: '#/components/schemas/ExpensePayload'
                expenses:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExpensePayload'
                  example:
                  - category: https://api.freeagent.com/v2/categories/285
                    created_at: 2011-08-24 08:10:40+00:00
                    dated_on: 2011-08-24
                    description: Some description
                    gross_value: '-12.0'
                    manual_sales_tax_amount: '0.12'
                    sales_tax_rate: '20.0'
                    updated_at: 2011-08-24 08:10:40+00:00
                    user: https://api.freeagent.com/v2/users/1
                  - category: https://api.freeagent.com/v2/categories/285
                    created_at: 2011-08-25 08:10:40+00:00
                    dated_on: 2011-08-24
                    description: Some description
                    gross_value: '-5.0'
                    manual_sales_tax_amount: '0.12'
                    sales_tax_rate: '20.0'
                    updated_at: 2011-08-25 08:10:40+00:00
                    user: https://api.freeagent.com/v2/users/1
            examples:
              Batch create expenses:
                value:
                  expenses:
                  - category: https://api.freeagent.com/v2/categories/285
                    created_at: 2011-08-24 08:10:40+00:00
                    dated_on: 2011-08-24
                    description: Some description
                    gross_value: '-12.0'
                    manual_sales_tax_amount: '0.12'
                    sales_tax_rate: '20.0'
                    updated_at: 2011-08-24 08:10:40+00:00
                    user: https://api.freeagent.com/v2/users/1
                  - category: https://api.freeagent.com/v2/categories/285
                    created_at: 2011-08-25 08:10:40+00:00
                    dated_on: 2011-08-24
                    description: Some description
                    gross_value: '-5.0'
                    manual_sales_tax_amount: '0.12'
                    sales_tax_rate: '20.0'
                    updated_at: 2011-08-25 08:10:40+00:00
                    user: https://api.freeagent.com/v2/users/1
              Create expense:
                value:
                  expense:
                    category: https://api.freeagent.com/v2/categories/285
                    created_at: 2011-08-24 08:10:40+00:00
                    currency: USD
                    dated_on: 2011-08-24
                    description: Some description
                    gross_value: '-20.0'
                    manual_sales_tax_amount: '0.12'
                    native_gross_value: '-12.0'
                    native_sales_tax_value: '-0.12'
                    sales_tax_rate: '1.0'
                    sales_tax_value: '-0.2'
                    updated_at: 2011-08-24 08:10:40+00:00
                    user: https://api.freeagent.com/v2/users/:id
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/expenses/{id}:
    get:
      tags:
      - Expenses
      summary: Get a single expense
      description: Get a single expense
      operationId: getASingleExpense
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Expenses
      summary: Delete expense
      description: Delete expense
      operationId: deleteExpense
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/expenses/mileage_settings:
    get:
      tags:
      - Expenses
      summary: Get mileage settings
      description: Get mileage settings
      operationId: getMileageSettings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/invoices/{id}/transitions/mark_as_sent:
    put:
      tags:
      - Invoices
      - Invoice Transitions
      summary: Mark invoice as sent
      description: Mark invoice as sent
      operationId: markInvoiceAsSent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/{id}/transitions/mark_as_cancelled:
    put:
      tags:
      - Invoices
      - Invoice Transitions
      summary: Mark invoice as cancelled
      description: Mark invoice as cancelled
      operationId: markInvoiceAsCancelled
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/{id}/transitions/mark_as_scheduled:
    put:
      tags:
      - Invoices
      - Invoice Transitions
      summary: Mark invoice as scheduled
      description: Mark invoice as scheduled
      operationId: markInvoiceAsScheduled
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/{id}/transitions/mark_as_draft:
    put:
      tags:
      - Invoices
      - Invoice Transitions
      summary: Mark invoice as draft
      description: Mark invoice as draft
      operationId: markInvoiceAsDraft
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices:
    get:
      tags:
      - Invoices
      summary: List Invoices
      description: List Invoices
      operationId: listInvoices
      parameters:
      - name: nested_invoice_items
        in: query
        description: Include nested invoice items in response
        schema:
          type: boolean
          example: true
      - name: contact
        in: query
        description: Filter invoices by contact URL
        schema:
          type: string
          example: https://api.freeagent.com/v2/contacts/:id
      - name: project
        in: query
        description: Filter invoices by project URL
        schema:
          type: string
          example: https://api.freeagent.com/v2/projects/:id
      - name: currency
        in: query
        description: Filter invoices by currency code
        schema:
          type: string
          example: USD
      - name: view
        in: query
        description: Filter invoices by view type
        schema:
          $ref: '#/components/schemas/InvoiceView'
      - name: updated_since
        in: query
        description: Show invoices updated since this date (YYYY-MM-DD)
        schema:
          type: string
          example: 2018-01-01
      - name: sort
        in: query
        description: Sort invoices by specified field
        schema:
          type: string
          enum:
          - updated_at
          - created_at
          example: updated_at
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    post:
      tags:
      - Invoices
      summary: Create Invoice
      description: Create Invoice
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: object
                  properties:
                    always_show_bic_and_iban:
                      type: boolean
                      example: false
                    contact:
                      type: string
                      example: https://api.freeagent.com/v2/contacts/:id
                    currency:
                      type: string
                      example: GBP
                    dated_on:
                      type: string
                      example: 2019-08-18
                    due_on:
                      type: string
                      example: 2019-09-18
                    omit_header:
                      type: boolean
                      example: false
                    payment_terms_in_days:
                      type: number
                      example: 30
            examples:
              Create Invoice:
                value:
                  invoice:
                    always_show_bic_and_iban: false
                    contact: https://api.freeagent.com/v2/contacts/:id
                    currency: GBP
                    dated_on: 2019-08-18
                    due_on: 2019-09-18
                    omit_header: false
                    payment_terms_in_days: 30
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/invoices/{id}:
    get:
      tags:
      - Invoices
      summary: Show Invoice
      description: Show Invoice
      operationId: showInvoice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    put:
      tags:
      - Invoices
      summary: Update Invoice
      description: Update Invoice
      operationId: updateInvoice
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: object
                  properties:
                    notes:
                      type: string
                      example: An example of some additional text.
            examples:
              Update Invoice:
                value:
                  invoice:
                    notes: An example of some additional text.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    delete:
      tags:
      - Invoices
      summary: Delete Invoice
      description: Delete Invoice
      operationId: deleteInvoice
      responses:
        '200':
          description: Success
        '409':
          $ref: '#/components/responses/EmptyResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/timeline:
    get:
      tags:
      - Invoices
      summary: Get invoice timeline
      description: Get invoice timeline
      operationId: getInvoiceTimeline
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/invoices/{id}/pdf:
    get:
      tags:
      - Invoices
      summary: Show Invoice as PDF
      description: Show Invoice as PDF
      operationId: showInvoiceAsPdf
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/{id}/send_email:
    post:
      tags:
      - Invoices
      summary: Send Invoice Email
      description: Send Invoice Email
      operationId: sendInvoiceEmail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: object
                  properties:
                    email:
                      type: object
                      properties:
                        body:
                          type: string
                          example: Bison bison bison bison bison Bison bison
                        from:
                          type: string
                          example: Our Company <us@company.com>
                        subject:
                          type: string
                          example: Testing
                        to:
                          type: string
                          example: Test Contact <test_contact@example.com>
            examples:
              Send Invoice Email:
                value:
                  invoice:
                    email:
                      body: Bison bison bison bison bison Bison bison
                      from: Our Company <us@company.com>
                      subject: Testing
                      to: Test Contact <test_contact@example.com>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoices/{id}/direct_debit:
    post:
      tags:
      - Invoices
      summary: Take Payment using GoCardless Direct Debit Mandate
      description: 'Only available for invoices which fit the following criteria:


        - The invoice must be sent

        - The invoice must have gocardless_preauth available and enabled as a payment
        method

        - The invoice must not have already had a payment taken for it'
      operationId: takePaymentUsingGocardlessDirectDebitMandate
      requestBody:
        content:
          text/plain:
            examples:
              Take Payment using GoCardless Direct Debit Mandate:
                value: ''
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        example: ''
  /v2/invoice_items:
    post:
      tags:
      - Invoices
      summary: Create Invoice Item
      description: Create Invoice Item
      operationId: createInvoiceItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: string
                  example: https://api.freeagent.com/v2/invoices/1
                invoice_item:
                  $ref: '#/components/schemas/InvoiceItemPayload'
            examples:
              Create Invoice Item:
                value:
                  invoice: https://api.freeagent.com/v2/invoices/1
                  invoice_item:
                    description: Fishing trip
                    item_type: Hours
                    price: 35
                    quantity: 6
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /v2/invoice_items/{id}:
    put:
      tags:
      - Invoices
      summary: Update Invoice Item
      description: Update Invoice Item
      operationId: updateInvoiceItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_item:
                  $ref: '#/components/schemas/InvoiceItemPayload'
            examples:
              Update Invoice Item:
                value:
[...]
