openapi: 3.0.3
info:
  title: FreeAgent
  version: '2026-09-01'
  contact: {}
servers:
- url: https://api.freeagent.com
  description: Production
- url: https://api.sandbox.freeagent.com
  description: Sandbox
paths:
  /v2/bank_accounts:
    $ref: 'paths/bank_accounts.yaml#/list'
  /v2/bank_accounts/{id}:
    $ref: 'paths/bank_accounts.yaml#/show'
  /v2/bank_transaction_explanations:
    $ref: 'paths/bank_transaction_explanations.yaml#/list'
  /v2/bank_transaction_explanations/{id}:
    $ref: 'paths/bank_transaction_explanations.yaml#/show'
  /v2/bank_transaction_explanations/{id}/attachments:
    $ref: 'paths/bank_transaction_explanation_attachments.yaml#/list'
  /v2/attachments/{id}:
    $ref: 'paths/attachments.yaml#/show'
  /v2/bank_transactions:
    $ref: 'paths/bank_transactions.yaml#/list'
  /v2/bank_transactions/{id}:
    $ref: 'paths/bank_transactions.yaml#/show'
  /v2/bills:
    $ref: 'paths/bills.yaml#/create'
  /v2/categories:
    $ref: 'paths/categories.yaml#/list'
  /v2/company:
    $ref: 'paths/company.yaml#/show'
  /v2/contacts:
    $ref: 'paths/contacts.yaml#/list'
  /v2/expenses:
    $ref: 'paths/expenses.yaml#/list'
  /v2/expenses/{id}:
    $ref: 'paths/expenses.yaml#/show'
  /v2/invoices/{id}/transitions/mark_as_sent:
    $ref: 'paths/invoices.yaml#/mark_as_sent'
  /v2/invoices/{id}/transitions/mark_as_cancelled:
    $ref: 'paths/invoices.yaml#/mark_as_cancelled'
  /v2/invoices/{id}/transitions/mark_as_scheduled:
    $ref: 'paths/invoices.yaml#/mark_as_scheduled'
  /v2/invoices/{id}/transitions/mark_as_draft:
    $ref: 'paths/invoices.yaml#/mark_as_draft'
  /v2/invoices:
    $ref: 'paths/invoices.yaml#/list'
  /v2/invoices/{id}:
    $ref: 'paths/invoices.yaml#/show'
  /v2/invoices/timeline:
    $ref: 'paths/invoices.yaml#/timeline'
  /v2/invoices/{id}/pdf:
    $ref: 'paths/invoices.yaml#/pdf'
  /v2/invoices/{id}/send_email:
    $ref: 'paths/invoices.yaml#/send_email'
  /v2/invoice_items:
    $ref: 'paths/invoices.yaml#/create_item'
  /v2/invoice_items/{id}:
    $ref: 'paths/invoices.yaml#/update_item'
  /v2/recurring_invoices:
    $ref: 'paths/recurring_invoices.yaml#/list'
  /v2/recurring_invoices/{id}:
    $ref: 'paths/recurring_invoices.yaml#/show'
components:
  schemas:
    InvoiceView:
      $ref: 'components/schemas/InvoiceView.yaml'
    ExpensePayload:
      $ref: 'components/schemas/ExpensePayload.yaml'
    Expense:
      $ref: 'components/schemas/Expense.yaml'
    ExpenseResponse:
      $ref: 'components/schemas/ExpenseResponse.yaml'
    ExpenseListResponse:
      $ref: 'components/schemas/ExpenseListResponse.yaml'
    AttachmentPayload:
      $ref: 'components/schemas/AttachmentPayload.yaml'
    Attachment:
      $ref: 'components/schemas/Attachment.yaml'
    AttachmentResponse:
      $ref: 'components/schemas/AttachmentResponse.yaml'
    AttachmentListResponse:
      $ref: 'components/schemas/AttachmentListResponse.yaml'
    AttachmentCreatePayload:
      $ref: 'components/schemas/AttachmentCreatePayload.yaml'
    AttachmentUpdatePayload:
      $ref: 'components/schemas/AttachmentUpdatePayload.yaml'
    AttachmentCreateRequest:
      $ref: 'components/schemas/AttachmentCreateRequest.yaml'
    AttachmentUpdateRequest:
      $ref: 'components/schemas/AttachmentUpdateRequest.yaml'
    InvoiceItemPayload:
      $ref: 'components/schemas/InvoiceItemPayload.yaml'
    Errors:
      $ref: 'components/schemas/Errors.yaml'
    ErrorDetail:
      $ref: 'components/schemas/ErrorDetail.yaml'
    ErrorObject:
      $ref: 'components/schemas/ErrorObject.yaml'
    ErrorList:
      $ref: 'components/schemas/ErrorList.yaml'
    BankAccount:
      $ref: 'components/schemas/BankAccount.yaml'
    BankAccountResponse:
      $ref: 'components/schemas/BankAccountResponse.yaml'
    BankAccountListResponse:
      $ref: 'components/schemas/BankAccountListResponse.yaml'
    BankTransaction:
      $ref: 'components/schemas/BankTransaction.yaml'
    BankTransactionResponse:
      $ref: 'components/schemas/BankTransactionResponse.yaml'
    BankTransactionListResponse:
      $ref: 'components/schemas/BankTransactionListResponse.yaml'
    BankTransactionExplanationCreatePayload:
      $ref: 'components/schemas/BankTransactionExplanationCreatePayload.yaml'
    BankTransactionExplanationUpdatePayload:
      $ref: 'components/schemas/BankTransactionExplanationUpdatePayload.yaml'
    BankTransactionExplanation:
      $ref: 'components/schemas/BankTransactionExplanation.yaml'
    BankTransactionExplanationResponse:
      $ref: 'components/schemas/BankTransactionExplanationResponse.yaml'
    BankTransactionExplanationListResponse:
      $ref: 'components/schemas/BankTransactionExplanationListResponse.yaml'
    Bill:
      $ref: 'components/schemas/Bill.yaml'
    BillItem:
      $ref: 'components/schemas/BillItem.yaml'
    BillResponse:
      $ref: 'components/schemas/BillResponse.yaml'
    BillCreatePayload:
      $ref: 'components/schemas/BillCreatePayload.yaml'
    BillItemPayload:
      $ref: 'components/schemas/BillItemPayload.yaml'
    Category:
      $ref: 'components/schemas/Category.yaml'
    CategoryListResponse:
      $ref: 'components/schemas/CategoryListResponse.yaml'
    Contact:
      $ref: 'components/schemas/Contact.yaml'
    ContactResponse:
      $ref: 'components/schemas/ContactResponse.yaml'
    ContactListResponse:
      $ref: 'components/schemas/ContactListResponse.yaml'
    ContactCreatePayload:
      $ref: 'components/schemas/ContactCreatePayload.yaml'
    InvoiceCreatePayload:
      $ref: 'components/schemas/InvoiceCreatePayload.yaml'
    InvoiceUpdatePayload:
      $ref: 'components/schemas/InvoiceUpdatePayload.yaml'
    EmailPayload:
      $ref: 'components/schemas/EmailPayload.yaml'
    Company:
      $ref: 'components/schemas/Company.yaml'
    CompanyResponse:
      $ref: 'components/schemas/CompanyResponse.yaml'
  responses:
    EmptyResponse:
      description: Success
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    oauth2:
      type: oauth2
      flows: {}
security:
- oauth2: []
tags:
- name: Attachments
- name: Bank Accounts
- name: Bank Transaction Explanations
- name: Bank Transaction Explanation Attachments
- name: Bank Transactions
- name: Bills
- name: Categories
- name: Company
- name: Contacts
- name: Expenses
- name: Invoices
- name: Invoice Transitions
- name: Recurring Invoices
