openapi: 3.0.3
info:
  title: FreeAgent
  version: '2026-09-01'
  contact: {}
servers:
- url: https://api.freeagent.com
  description: Production
- url: https://api.sandbox.freeagent.com
  description: Sandbox
paths:
  /v2/token_endpoint:
    $ref: 'paths/oauth.yaml#/token'
  /v2/bank_accounts:
    $ref: 'paths/bank_accounts.yaml#/list'
  /v2/bank_accounts/{id}:
    $ref: 'paths/bank_accounts.yaml#/show'
  /v2/bank_transaction_explanations:
    $ref: 'paths/bank_transaction_explanations.yaml#/list'
  /v2/bank_transaction_explanations/{id}:
    $ref: 'paths/bank_transaction_explanations.yaml#/show'
  /v2/bank_transaction_explanations/{id}/attachments:
    $ref: 'paths/bank_transaction_explanation_attachments.yaml#/list'
  /v2/attachments/{id}:
    $ref: 'paths/attachments.yaml#/show'
  /v2/bank_transactions:
    $ref: 'paths/bank_transactions.yaml#/list'
  /v2/bank_transactions/{id}:
    $ref: 'paths/bank_transactions.yaml#/show'
  /v2/bills:
    $ref: 'paths/bills.yaml#/list'
  /v2/bills/{id}:
    $ref: 'paths/bills.yaml#/show'
  /v2/categories:
    $ref: 'paths/categories.yaml#/list'
  /v2/company:
    $ref: 'paths/company.yaml#/show'
  /v2/contacts:
    $ref: 'paths/contacts.yaml#/list'
  /v2/contacts/{id}:
    $ref: 'paths/contacts.yaml#/show'
  /v2/expenses:
    $ref: 'paths/expenses.yaml#/list'
  /v2/expenses/{id}:
    $ref: 'paths/expenses.yaml#/show'
  /v2/invoices/{id}/transitions/mark_as_sent:
    $ref: 'paths/invoices.yaml#/mark_as_sent'
  /v2/invoices/{id}/transitions/mark_as_cancelled:
    $ref: 'paths/invoices.yaml#/mark_as_cancelled'
  /v2/invoices/{id}/transitions/mark_as_scheduled:
    $ref: 'paths/invoices.yaml#/mark_as_scheduled'
  /v2/invoices/{id}/transitions/mark_as_draft:
    $ref: 'paths/invoices.yaml#/mark_as_draft'
  /v2/invoices:
    $ref: 'paths/invoices.yaml#/list'
  /v2/invoices/{id}:
    $ref: 'paths/invoices.yaml#/show'
  /v2/invoices/timeline:
    $ref: 'paths/invoices.yaml#/timeline'
  /v2/invoices/{id}/pdf:
    $ref: 'paths/invoices.yaml#/pdf'
  /v2/invoices/{id}/send_email:
    $ref: 'paths/invoices.yaml#/send_email'
  /v2/invoice_items:
    $ref: 'paths/invoices.yaml#/create_item'
  /v2/invoice_items/{id}:
    $ref: 'paths/invoices.yaml#/update_item'
  /v2/recurring_invoices:
    $ref: 'paths/recurring_invoices.yaml#/list'
  /v2/recurring_invoices/{id}:
    $ref: 'paths/recurring_invoices.yaml#/show'
  /v2/estimates:
    $ref: 'paths/estimates.yaml#/list'
  /v2/estimates/{id}:
    $ref: 'paths/estimates.yaml#/show'
  /v2/estimates/{id}/pdf:
    $ref: 'paths/estimates.yaml#/pdf'
  /v2/estimates/{id}/send_email:
    $ref: 'paths/estimates.yaml#/send_email'
  /v2/estimates/{id}/duplicate:
    $ref: 'paths/estimates.yaml#/duplicate'
  /v2/estimates/{id}/transitions/mark_as_sent:
    $ref: 'paths/estimates.yaml#/mark_as_sent'
  /v2/estimates/{id}/transitions/mark_as_draft:
    $ref: 'paths/estimates.yaml#/mark_as_draft'
  /v2/estimates/{id}/transitions/mark_as_approved:
    $ref: 'paths/estimates.yaml#/mark_as_approved'
  /v2/estimates/{id}/transitions/mark_as_rejected:
    $ref: 'paths/estimates.yaml#/mark_as_rejected'
  /v2/estimates/{id}/transitions/convert_to_invoice:
    $ref: 'paths/estimates.yaml#/convert_to_invoice'
  /v2/estimate_items:
    $ref: 'paths/estimates.yaml#/create_item'
  /v2/estimate_items/{id}:
    $ref: 'paths/estimates.yaml#/update_item'
  /v2/credit_notes:
    $ref: 'paths/credit_notes.yaml#/list'
  /v2/credit_notes/{id}:
    $ref: 'paths/credit_notes.yaml#/show'
  /v2/credit_notes/{id}/pdf:
    $ref: 'paths/credit_notes.yaml#/pdf'
  /v2/credit_notes/{id}/send_email:
    $ref: 'paths/credit_notes.yaml#/send_email'
  /v2/credit_notes/{id}/transitions/mark_as_sent:
    $ref: 'paths/credit_notes.yaml#/mark_as_sent'
  /v2/credit_notes/{id}/transitions/mark_as_draft:
    $ref: 'paths/credit_notes.yaml#/mark_as_draft'
  /v2/projects:
    $ref: 'paths/projects.yaml#/list'
  /v2/projects/{id}:
    $ref: 'paths/projects.yaml#/show'
  /v2/timeslips:
    $ref: 'paths/timeslips.yaml#/list'
  /v2/timeslips/{id}:
    $ref: 'paths/timeslips.yaml#/show'
  /v2/timeslips/{id}/timer:
    $ref: 'paths/timeslips.yaml#/timer'
  /v2/vat_returns:
    $ref: 'paths/vat_returns.yaml#/list'
  /v2/vat_returns/{period_ends_on}:
    $ref: 'paths/vat_returns.yaml#/show'
  /v2/vat_returns/{period_ends_on}/mark_as_filed:
    $ref: 'paths/vat_returns.yaml#/mark_as_filed'
  /v2/vat_returns/{period_ends_on}/mark_as_unfiled:
    $ref: 'paths/vat_returns.yaml#/mark_as_unfiled'
  /v2/vat_returns/{period_ends_on}/payments/{payment_date}/mark_as_paid:
    $ref: 'paths/vat_returns.yaml#/mark_payment_as_paid'
  /v2/vat_returns/{period_ends_on}/payments/{payment_date}/mark_as_unpaid:
    $ref: 'paths/vat_returns.yaml#/mark_payment_as_unpaid'
  /v2/corporation_tax_returns:
    $ref: 'paths/corporation_tax_returns.yaml#/list'
  /v2/corporation_tax_returns/{period_ends_on}:
    $ref: 'paths/corporation_tax_returns.yaml#/show'
  /v2/corporation_tax_returns/{period_ends_on}/mark_as_filed:
    $ref: 'paths/corporation_tax_returns.yaml#/mark_as_filed'
  /v2/corporation_tax_returns/{period_ends_on}/mark_as_unfiled:
    $ref: 'paths/corporation_tax_returns.yaml#/mark_as_unfiled'
  /v2/corporation_tax_returns/{period_ends_on}/mark_as_paid:
    $ref: 'paths/corporation_tax_returns.yaml#/mark_as_paid'
  /v2/corporation_tax_returns/{period_ends_on}/mark_as_unpaid:
    $ref: 'paths/corporation_tax_returns.yaml#/mark_as_unpaid'
  /v2/users/me:
    $ref: 'paths/users.yaml#/me'
  /v2/users/{user_id}/self_assessment_returns:
    $ref: 'paths/self_assessment_returns.yaml#/list'
  /v2/users/{user_id}/self_assessment_returns/{period_ends_on}:
    $ref: 'paths/self_assessment_returns.yaml#/show'
  /v2/users/{user_id}/self_assessment_returns/{period_ends_on}/mark_as_filed:
    $ref: 'paths/self_assessment_returns.yaml#/mark_as_filed'
  /v2/users/{user_id}/self_assessment_returns/{period_ends_on}/mark_as_unfiled:
    $ref: 'paths/self_assessment_returns.yaml#/mark_as_unfiled'
  /v2/users/{user_id}/self_assessment_returns/{period_ends_on}/payments/{payment_date}/mark_as_paid:
    $ref: 'paths/self_assessment_returns.yaml#/mark_payment_as_paid'
  /v2/users/{user_id}/self_assessment_returns/{period_ends_on}/payments/{payment_date}/mark_as_unpaid:
    $ref: 'paths/self_assessment_returns.yaml#/mark_payment_as_unpaid'
components:
  schemas:
    InvoiceView:
      $ref: 'components/schemas/InvoiceView.yaml'
    InvoiceViewName:
      $ref: 'components/schemas/InvoiceViewName.yaml'
    ExpensePayload:
      $ref: 'components/schemas/ExpensePayload.yaml'
    Expense:
      $ref: 'components/schemas/Expense.yaml'
    ExpenseResponse:
      $ref: 'components/schemas/ExpenseResponse.yaml'
    ExpenseListResponse:
      $ref: 'components/schemas/ExpenseListResponse.yaml'
    AttachmentPayload:
      $ref: 'components/schemas/AttachmentPayload.yaml'
    Attachment:
      $ref: 'components/schemas/Attachment.yaml'
    AttachmentResponse:
      $ref: 'components/schemas/AttachmentResponse.yaml'
    AttachmentListResponse:
      $ref: 'components/schemas/AttachmentListResponse.yaml'
    AttachmentCreatePayload:
      $ref: 'components/schemas/AttachmentCreatePayload.yaml'
    AttachmentUpdatePayload:
      $ref: 'components/schemas/AttachmentUpdatePayload.yaml'
    AttachmentCreateRequest:
      $ref: 'components/schemas/AttachmentCreateRequest.yaml'
    AttachmentUpdateRequest:
      $ref: 'components/schemas/AttachmentUpdateRequest.yaml'
    InvoiceItemPayload:
      $ref: 'components/schemas/InvoiceItemPayload.yaml'
    Invoice:
      $ref: 'components/schemas/Invoice.yaml'
    InvoiceItem:
      $ref: 'components/schemas/InvoiceItem.yaml'
    InvoiceResponse:
      $ref: 'components/schemas/InvoiceResponse.yaml'
    InvoiceListResponse:
      $ref: 'components/schemas/InvoiceListResponse.yaml'
    InvoiceItemResponse:
      $ref: 'components/schemas/InvoiceItemResponse.yaml'
    InvoiceTimelineItem:
      $ref: 'components/schemas/InvoiceTimelineItem.yaml'
    InvoiceTimelineResponse:
      $ref: 'components/schemas/InvoiceTimelineResponse.yaml'
    Pdf:
      $ref: 'components/schemas/Pdf.yaml'
    PdfResponse:
      $ref: 'components/schemas/PdfResponse.yaml'
    InvoicePaymentMethods:
      $ref: 'components/schemas/InvoicePaymentMethods.yaml'
    RecurringInvoice:
      $ref: 'components/schemas/RecurringInvoice.yaml'
    RecurringInvoiceResponse:
      $ref: 'components/schemas/RecurringInvoiceResponse.yaml'
    RecurringInvoiceListResponse:
      $ref: 'components/schemas/RecurringInvoiceListResponse.yaml'
    Estimate:
      $ref: 'components/schemas/Estimate.yaml'
    EstimateItem:
      $ref: 'components/schemas/EstimateItem.yaml'
    EstimateType:
      $ref: 'components/schemas/EstimateType.yaml'
    EstimateResponse:
      $ref: 'components/schemas/EstimateResponse.yaml'
    EstimateListResponse:
      $ref: 'components/schemas/EstimateListResponse.yaml'
    EstimateItemResponse:
      $ref: 'components/schemas/EstimateItemResponse.yaml'
    EstimateCreatePayload:
      $ref: 'components/schemas/EstimateCreatePayload.yaml'
    EstimateUpdatePayload:
      $ref: 'components/schemas/EstimateUpdatePayload.yaml'
    EstimateItemPayload:
      $ref: 'components/schemas/EstimateItemPayload.yaml'
    CreditNote:
      $ref: 'components/schemas/CreditNote.yaml'
    CreditNoteResponse:
      $ref: 'components/schemas/CreditNoteResponse.yaml'
    CreditNoteListResponse:
      $ref: 'components/schemas/CreditNoteListResponse.yaml'
    CreditNoteView:
      $ref: 'components/schemas/CreditNoteView.yaml'
    CreditNoteViewName:
      $ref: 'components/schemas/CreditNoteViewName.yaml'
    CreditNoteCreatePayload:
      $ref: 'components/schemas/CreditNoteCreatePayload.yaml'
    CreditNoteUpdatePayload:
      $ref: 'components/schemas/CreditNoteUpdatePayload.yaml'
    CreditNoteItemPayload:
      $ref: 'components/schemas/CreditNoteItemPayload.yaml'
    Project:
      $ref: 'components/schemas/Project.yaml'
    ProjectResponse:
      $ref: 'components/schemas/ProjectResponse.yaml'
    ProjectListResponse:
      $ref: 'components/schemas/ProjectListResponse.yaml'
    Timeslip:
      $ref: 'components/schemas/Timeslip.yaml'
    TimeslipTimer:
      $ref: 'components/schemas/TimeslipTimer.yaml'
    TimeslipResponse:
      $ref: 'components/schemas/TimeslipResponse.yaml'
    TimeslipListResponse:
      $ref: 'components/schemas/TimeslipListResponse.yaml'
    TimeslipCreatePayload:
      $ref: 'components/schemas/TimeslipCreatePayload.yaml'
    TimeslipUpdatePayload:
      $ref: 'components/schemas/TimeslipUpdatePayload.yaml'
    TaxReturnPayment:
      $ref: 'components/schemas/TaxReturnPayment.yaml'
    VatReturn:
      $ref: 'components/schemas/VatReturn.yaml'
    VatReturnBreakdown:
      $ref: 'components/schemas/VatReturnBreakdown.yaml'
    VatReturnBreakdownRow:
      $ref: 'components/schemas/VatReturnBreakdownRow.yaml'
    VatReturnResponse:
      $ref: 'components/schemas/VatReturnResponse.yaml'
    VatReturnListResponse:
      $ref: 'components/schemas/VatReturnListResponse.yaml'
    CorporationTaxReturn:
      $ref: 'components/schemas/CorporationTaxReturn.yaml'
    CorporationTaxReturnResponse:
      $ref: 'components/schemas/CorporationTaxReturnResponse.yaml'
    CorporationTaxReturnListResponse:
      $ref: 'components/schemas/CorporationTaxReturnListResponse.yaml'
    SelfAssessmentReturn:
      $ref: 'components/schemas/SelfAssessmentReturn.yaml'
    SelfAssessmentReturnResponse:
      $ref: 'components/schemas/SelfAssessmentReturnResponse.yaml'
    SelfAssessmentReturnListResponse:
      $ref: 'components/schemas/SelfAssessmentReturnListResponse.yaml'
    User:
      $ref: 'components/schemas/User.yaml'
    UserPayrollProfile:
      $ref: 'components/schemas/UserPayrollProfile.yaml'
    UserResponse:
      $ref: 'components/schemas/UserResponse.yaml'
    Errors:
      $ref: 'components/schemas/Errors.yaml'
    ErrorDetail:
      $ref: 'components/schemas/ErrorDetail.yaml'
    ErrorObject:
      $ref: 'components/schemas/ErrorObject.yaml'
    ErrorList:
      $ref: 'components/schemas/ErrorList.yaml'
    BankAccount:
      $ref: 'components/schemas/BankAccount.yaml'
    BankAccountResponse:
      $ref: 'components/schemas/BankAccountResponse.yaml'
    BankAccountListResponse:
      $ref: 'components/schemas/BankAccountListResponse.yaml'
    BankTransaction:
      $ref: 'components/schemas/BankTransaction.yaml'
    BankTransactionResponse:
      $ref: 'components/schemas/BankTransactionResponse.yaml'
    BankTransactionListResponse:
      $ref: 'components/schemas/BankTransactionListResponse.yaml'
    BankTransactionExplanationCreatePayload:
      $ref: 'components/schemas/BankTransactionExplanationCreatePayload.yaml'
    BankTransactionExplanationUpdatePayload:
      $ref: 'components/schemas/BankTransactionExplanationUpdatePayload.yaml'
    BankTransactionExplanation:
      $ref: 'components/schemas/BankTransactionExplanation.yaml'
    BankTransactionExplanationResponse:
      $ref: 'components/schemas/BankTransactionExplanationResponse.yaml'
    BankTransactionExplanationListResponse:
      $ref: 'components/schemas/BankTransactionExplanationListResponse.yaml'
    Bill:
      $ref: 'components/schemas/Bill.yaml'
    BillItem:
      $ref: 'components/schemas/BillItem.yaml'
    BillResponse:
      $ref: 'components/schemas/BillResponse.yaml'
    BillListResponse:
      $ref: 'components/schemas/BillListResponse.yaml'
    BillRecurringPeriod:
      $ref: 'components/schemas/BillRecurringPeriod.yaml'
    BillCreatePayload:
      $ref: 'components/schemas/BillCreatePayload.yaml'
    BillUpdatePayload:
      $ref: 'components/schemas/BillUpdatePayload.yaml'
    BillItemPayload:
      $ref: 'components/schemas/BillItemPayload.yaml'
    Category:
      $ref: 'components/schemas/Category.yaml'
    CategoryListResponse:
      $ref: 'components/schemas/CategoryListResponse.yaml'
    Contact:
      $ref: 'components/schemas/Contact.yaml'
    ContactResponse:
      $ref: 'components/schemas/ContactResponse.yaml'
    ContactListResponse:
      $ref: 'components/schemas/ContactListResponse.yaml'
    ContactCreatePayload:
      $ref: 'components/schemas/ContactCreatePayload.yaml'
    ContactUpdatePayload:
      $ref: 'components/schemas/ContactUpdatePayload.yaml'
    ContactStatus:
      $ref: 'components/schemas/ContactStatus.yaml'
    ContactChargeSalesTax:
      $ref: 'components/schemas/ContactChargeSalesTax.yaml'
    ContactLocale:
      $ref: 'components/schemas/ContactLocale.yaml'
    InvoiceCreatePayload:
      $ref: 'components/schemas/InvoiceCreatePayload.yaml'
    InvoiceUpdatePayload:
      $ref: 'components/schemas/InvoiceUpdatePayload.yaml'
    EmailPayload:
      $ref: 'components/schemas/EmailPayload.yaml'
    TokenRequest:
      $ref: 'components/schemas/TokenRequest.yaml'
    AuthorizationCodeGrant:
      $ref: 'components/schemas/AuthorizationCodeGrant.yaml'
    RefreshTokenGrant:
      $ref: 'components/schemas/RefreshTokenGrant.yaml'
    TokenResponse:
      $ref: 'components/schemas/TokenResponse.yaml'
    OAuthError:
      $ref: 'components/schemas/OAuthError.yaml'
    Company:
      $ref: 'components/schemas/Company.yaml'
    CompanyResponse:
      $ref: 'components/schemas/CompanyResponse.yaml'
  parameters:
    Page:
      $ref: 'components/parameters/Page.yaml'
    PerPage:
      $ref: 'components/parameters/PerPage.yaml'
    PeriodEndsOn:
      $ref: 'components/parameters/PeriodEndsOn.yaml'
    PaymentDate:
      $ref: 'components/parameters/PaymentDate.yaml'
    UserId:
      $ref: 'components/parameters/UserId.yaml'
  headers:
    Link:
      $ref: 'components/headers/Link.yaml'
    XTotalCount:
      $ref: 'components/headers/XTotalCount.yaml'
  responses:
    EmptyResponse:
      description: Success
    OAuthErrorResponse:
      description: OAuth error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
        text/plain:
          schema:
            type: string
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    oauth2:
      type: oauth2
      flows: {}
security:
- oauth2: []
tags:
- name: Attachments
- name: OAuth
- name: Bank Accounts
- name: Bank Transaction Explanations
- name: Bank Transaction Explanation Attachments
- name: Bank Transactions
- name: Bills
- name: Categories
- name: Company
- name: Contacts
- name: Expenses
- name: Invoices
- name: Invoice Transitions
- name: Recurring Invoices
- name: Estimates
- name: Estimate Transitions
- name: Credit Notes
- name: Credit Note Transitions
- name: Projects
- name: Timeslips
- name: Timeslip Timers
- name: VAT Returns
- name: Corporation Tax Returns
- name: Self Assessment Returns
- name: Users
